@charset "UTF-8";
/*Переменные*/
/* Reset */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css");
body {
  font-family: 'Lato', sans-serif;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*Прижатие футера к подвалу */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

input:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 37px;
}

.header__form-browse {
  display: block;
  font-size: 14px;
  line-height: 37px;
  font-weight: 300;
  color: #222222;
  text-decoration: none;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  padding: 0px 9px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__form-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 35px;
  font-weight: 300;
  color: #a4a4a4;
  border: 1px solid #e6e6e6;
  border-left: none;
  padding-left: 16px;
  width: 312px;
  padding-right: 36px;
}

.header__form-submit {
  background: #ffffff;
  position: absolute;
  border: none;
  right: 1px;
  font-size: 14px;
  font-size: 14px;
  line-height: 37px;
  color: #a4a4a4;
  border-left: 1px solid #e6e6e6;
  padding: 0 11px;
}

.header__arrow {
  display: block;
  margin-top: -2px;
  margin-left: 8px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cart {
  display: block;
  margin-right: 26px;
}

.header__cart_hover:hover {
  -webkit-box-shadow: 0px 0px 3px 3px #a4a4a4;
          box-shadow: 0px 0px 3px 3px #a4a4a4;
}

.header__cart-wrapper {
  position: relative;
  padding: 32px 0;
}

.header__cart-wrapper:hover .drop-down-wrapper {
  display: block;
}

.header__acc-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 12px 12px 19px;
  background-color: #f16d7f;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.header__acc-btn_hover:hover {
  -webkit-box-shadow: 0px 0px 3px 3px #a4a4a4;
          box-shadow: 0px 0px 3px 3px #a4a4a4;
}

.header__drop-down-cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #ededed;
}

.header__drop-down-cart-product-text {
  padding-top: 10px;
  padding-left: 14px;
}

.header__drop-down-cart-product-name {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #222222;
}

.header__drop-down-cart-product-rating {
  font-size: 12px;
  font-weight: 400;
  color: #e4af48;
  margin: 10px 0;
  letter-spacing: -2px;
}

.header__drop-down-cart-product-price-wrapper {
  font-size: 12px;
  font-weight: 400;
  color: #f16d7f;
}

.header__drop-down-cart-product-del {
  text-decoration: none;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #a4a4a4;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  margin-left: 55px;
}

.header__drop-down-cart-product-del_hover:hover {
  background-color: #f16d7f;
}

.header__drop-down-cart-total {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 19px;
  margin-bottom: 32px;
}

.header__drop-down-cart-btn {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #222222;
  text-decoration: none;
  padding: 19px 74px;
  border: 1px solid #eaeaea;
}

.header__drop-down-cart-btn_hover:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}

.header__drop-down-cart-btn:last-child {
  margin-top: 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  color: #222222;
  text-decoration: none;
}

.logo__text {
  margin-left: 13px;
}

.logo_special {
  font-weight: 700;
  color: #f16d7f;
}

.nav {
  border-top: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.nav__link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 3px solid transparent;
}

.nav__link_hover:hover {
  border-color: #f16d7f;
}

.nav__link-wrapper {
  position: relative;
}

.nav__link-wrapper:hover .drop-down-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-down-wrapper {
  padding: 20px;
  padding-top: 0;
  position: absolute;
  top: 50px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  display: none;
  z-index: 1;
}

.drop-down-wrapper_cart-pos {
  top: 86px;
  left: -12px;
  padding-right: 15px;
  width: 235px;
}

.drop-down {
  margin-right: 46px;
}

.drop-down:last-child {
  margin-right: 0;
}

.drop-down__h4 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #222222;
  padding-bottom: 8px;
  padding-right: 177px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 20px;
}

.drop-down__link {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #646464;
  text-decoration: none;
}

.drop-down__link:hover {
  color: #f16d7f;
}

.drop-down__add {
  position: relative;
  display: inline-block;
  margin-top: 22px;
}

.drop-down__add_hover:hover {
  -webkit-box-shadow: 0px 0px 3px 3px #a4a4a4;
          box-shadow: 0px 0px 3px 3px #a4a4a4;
}

.drop-down__add img {
  display: block;
}

.drop-down__add-text {
  position: absolute;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.55px;
  right: 10px;
  bottom: 12px;
}

.drop-down__add-span {
  display: block;
}

.drop-down-arrow {
  width: 14px;
  height: 14px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  top: -8px;
  left: 51px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drop-down-arrow_cart-pos {
  left: 23px;
}

.the-brand {
  margin-bottom: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/the-brand-background.jpg);
  background-repeat: no-repeat;
  background-color: #e8e8e8;
  background-position: 140px -53px;
  height: 600px;
}

.the-brand__text {
  text-transform: uppercase;
  padding-left: 12px;
  border-left: 12px solid #f16d7f;
}

.the-brand__text_special {
  color: #f16d7f;
}

.the-brand__text-line1 {
  font-size: 60px;
  line-height: 45px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.the-brand__text-line2 {
  font-size: 40px;
  line-height: 30px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 1px;
}

.deals {
  margin: -10px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deal {
  margin: 15px 10px;
  position: relative;
}

.deal__item {
  display: block;
}

.deal__item_with-background {
  background-color: #dadad2;
  height: 261px;
}

.deal__item_hover:hover {
  -webkit-box-shadow: 0px 0px 3px 3px #a4a4a4;
          box-shadow: 0px 0px 3px 3px #a4a4a4;
}

.deal__img {
  display: block;
}

.deal__text-wrapper {
  position: absolute;
  top: 26px;
  padding: 18px;
  background-color: #ffffff;
}

.deal__text1 {
  text-transform: uppercase;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 14px;
  font-weight: 900;
  color: #222222;
}

.deal__text2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 23px;
  font-weight: 900;
  color: #222222;
}

.deal__text2_special {
  color: #f16d7f;
}

.featured-items {
  margin-top: 100px;
}

.featured-items__text {
  text-align: center;
  margin-bottom: 59px;
}

.featured-items__h2 {
  font-size: 30px;
  line-height: 23px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 16px;
}

.featured-items__p {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #a4a4a4;
}

.products {
  margin: -20px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.products__item {
  text-decoration: none;
  position: relative;
  margin: 20px 15px;
}

.products__item_hover:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.products__item_hover:hover .products__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__item_hover:hover .products__img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.products__item-link {
  text-decoration: none;
}

.products__img {
  display: block;
}

.products__text {
  margin-left: 14px;
  margin-top: 20px;
  margin-bottom: 21px;
}

.products__text-h4 {
  text-transform: uppercase;
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: #222222;
}

.products__text-span {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}

.products__text-span_special {
  color: #f16d7f;
}

.products__hover {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__hover-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 9px;
  border: 1px solid #ffffff;
  position: absolute;
  top: 98px;
}

.products__hover-btn-img {
  margin-right: 8px;
}

.products__browse-all-wrapper {
  text-align: center;
  margin-top: 79px;
}

.products__browse-all {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding: 14px 20px;
  background-color: #f16d7f;
}

.products__browse-all i {
  margin-left: 9px;
}

.products__browse-all_hover:hover {
  -webkit-box-shadow: 0px 0px 3px 3px #a4a4a4;
          box-shadow: 0px 0px 3px 3px #a4a4a4;
}

.offer {
  margin-top: 113px;
  margin-bottom: 97px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__wrapper img {
  display: block;
}

.offer__text {
  position: absolute;
  font-size: 54px;
  line-height: 54px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1.5px;
  top: 146px;
  left: 39px;
}

.offer__text-h3 {
  line-height: 42px;
  margin-bottom: 14px;
}

.offer__text-h3_special {
  color: #f16d7f;
}

.offer__text-h4 {
  font-size: 32px;
  line-height: 24px;
  letter-spacing: 1px;
}

.features {
  background-color: #222222;
}

.features_offer-style {
  padding-left: 36px;
  padding-right: 43px;
}

.features__img_offer-style {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 33px;
}

.features__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__block_offer-style {
  margin-top: 30px;
  padding-top: 30px;
}

.features__h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 17px;
}

.features__p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

.features__p_offer-style {
  width: 219px;
}

.subscribe {
  background: url(../img/review-background.jpg) no-repeat;
  background-color: #f2f2f2;
  height: 438px;
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 111px;
}

.subscribe__review-p {
  width: 386px;
  margin-left: 28px;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
  font-style: italic;
}

.subscribe__review-info {
  margin-top: 19px;
  margin-left: 114px;
}

.subscribe__review-name {
  font-size: 16px;
  line-height: 13px;
  font-weight: 700;
  margin-bottom: 6px;
}

.subscribe__review-name_special {
  color: #f16d7f;
}

.subscribe__review-location {
  display: block;
  font-size: 12px;
  line-height: 10px;
  font-weight: 300;
  color: #222222;
}

.subscribe__review-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 41px -5px 0px -5px;
}

.subscribe__review-nav-link {
  margin: 0 5px;
  display: block;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.subscribe__review-nav-link_active {
  background-color: #f16d7f;
}

.subscribe__review-nav-link_hover:hover {
  background-color: #f16d7f;
}

.subscribe__form-wrapper {
  margin-top: 148px;
  margin-left: 165px;
}

.subscribe__form-text {
  font-weight: 400;
  color: #222222;
  text-align: center;
  margin-bottom: 35px;
}

.subscribe__form-h4 {
  font-size: 24px;
  margin-bottom: 14px;
}

.subscribe__form-p {
  font-size: 14px;
}

.subscribe__form {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  width: 334px;
}

.subscribe__form-input {
  padding: 18px 9px 18px 28px;
  border: none;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  color: #222222;
  width: 229px;
}

.subscribe__form-btn {
  position: absolute;
  right: -26px;
  padding: 18px 20px 18px 21px;
  border: none;
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
  color: #ffffff;
}

.subscribe__form-btn_hover:hover {
  -webkit-box-shadow: 0px 0px 3px 3px #a4a4a4;
          box-shadow: 0px 0px 3px 3px #a4a4a4;
}

.information-section {
  margin-top: 109px;
}

.footer__info-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__brand-info {
  width: 427px;
}

.footer__brand-info-p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #898989;
  margin-top: 30px;
}

.footer__nav-heading {
  font-size: 18px;
  line-height: 15px;
  font-weight: 700;
  color: #f16d7f;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.footer__nav li:last-child a {
  margin-bottom: 0;
}

.footer__nav-link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #898989;
  text-decoration: none;
  display: block;
  margin-bottom: 30px;
}

.footer__nav-link_hover:hover {
  text-decoration: underline;
}

.footer__copyright-social-wrapper {
  background-color: #e6e6e6;
}

.footer__copyright-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 89px;
  height: 79px;
}

.footer__copyright {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #898989;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin: 0 4px;
  font-size: 16px;
  font-weight: 400;
  color: #898989;
}

.footer__social-link_hover:hover {
  color: #ffffff;
  background-color: #f16d7f;
}
/*# sourceMappingURL=style.css.map */